asgiref==3.5.2; python_version >= "3.9" and python_version < "3.11"
django-qiyu-utils==0.4.4; python_version >= "3.9" and python_version < "3.11"
django==4.1.9; python_version >= "3.8"
docutils==0.19; python_version >= "3.7"
pygments==2.13.0; python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.9" and python_version < "3.11"
tzdata==2022.2; sys_platform == "win32" and python_version >= "3.9" and python_version < "3.11"
